* {
  padding: 0;
  margin: 0;
}

.employees {
  min-height: 100vh;
  display: flex;

  &__header {
    border-bottom: 2px solid #000;

    h3 {
      padding: 10px;
    }
  }

  &__left {
    width: 50%;
    border-right: 2px solid #000;
  }

  &__right {
    width: 50%;
  }

  &__list {
    display: flex;
    flex-direction: column;

    &-letter {
      margin: 3px;
      b {
        padding: 1px;
        font-size: 18px;
      }
    }

    &-users {
      display: flex;
      flex-direction: column;
    }

    &-item {
      border-bottom: 1px solid #000;
      padding: 5px;
      cursor: pointer;

      span {
        margin-left: 5px;
      }
    }
  }
}

.birthday {
  padding: 10px;

  &__list {
    b {
      font-size: 18px;
      display: block;
      padding: 5px 0;
    }
    &-item {
      padding: 2px;
    }
  }
}
